@(title: String, score: IngresscoreEntity)

@import helper._

@main("Avelon -> " + title, null) {
	<h2>Show stock @score.id</h2>
	<ul>
		<li>Label      : @score.agent</li>
		<li>Name       : @score.score</li>
		<li>Description: @score.silver</li>
		<li>Description: @score.gold</li>
	</ul>
	
	@form(routes.IngresscoreController.editIngresscore(stock.id)) {
		<input style="background-color: yellow; float: left" type="submit" value="Edit @score.id">
	}
	
	@form(routes.IngresscoreController.deleteIngresscore(stock.id)) {
		<input style="background-color: red; float: left" type="submit" value="Delete @score.id">
	}

	@form(routes.IngresscoreController.listIngresscores()) {
		<input style="background-color: green; float: left" type="submit" value="List All">
	}
 }
